.container{
    display: grid;
    grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    border: 1px solid black;
}

.header{
    background-color:red;
    padding: 20px;
    grid-column: 1/-1;
    text-align: center;
    border: 1px solid black;
}

.menu{
    background-color:rgb(187, 139, 235);
    padding: 20px;
    grid-column: 1/-1;
    text-align: center;
    border: 1px solid black;
}

.rodape{
    background-color:rgb(104, 44, 44);
    padding: 20px;
    grid-column: 1/-1;
    text-align: center;
    border: 1px solid black;
}

.text{
    background-color: aqua;
    text-align: center;
    border: 1px solid black;
}